<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #a81cbb;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    padding: 82px 16px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, 0.35);
    background-position: -0.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <span>10th Monthversary</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="container">
    <article>
      <p>Mi amor, <span>¡Tengo una sorpresa para ti! He preparado una actualización especial de nuestro quinto mesversario y quería compartir contigo algunos momentos inolvidables que hemos vivido juntos. Esta vez, he decidido catalogar nuestras fotos y escribir por qué cada uno de esos momentos me ha llenado de felicidad. Desde pasar tiempo juntos hasta predicar, ir a las reuniones, salir, regalarte flores y sostener tu mano, cada experiencia ha sido única, especial y significativa para mí. Espero que te encante este pequeño regalo y que te haga sonreír tanto como a mí.</span></p>
    </article>
  </div>

  <div *ngIf="!itsTime">
    <div class="container mt-3"><article><p>Pero tendras que esperar un poco...</p></article></div>
    <div class="container mt-3 text-center">
      <b>{{time.hours! < 10 ? '0'+time.hours : time.hours}}:{{time.minutes! < 10 ? '0'+time.minutes : time.minutes}}:{{time.seconds! < 10 ? '0'+time.seconds : time.seconds}}</b>
    </div>
  </div>

  <div *ngIf="itsTime">
    <app-two-columns
      [title]="'Predicar contigo'"
      [text]="'Predicar contigo es una experiencia que adoro. Es un momento en el que compartimos nuestra fe y llevamos el mensaje de esperanza a los demás. Me llena de alegría ver cómo juntos transmitimos el amor de Dios y cómo nuestras palabras pueden tocar las vidas de las personas. Nuestra unión en la predicación fortalece nuestra relación y nos acerca más a Jehová. Es un privilegio servir a Dios contigo y ver cómo nuestras acciones pueden marcar la diferencia en la vida de aquellos a quienes predicamos.'"
      [images]="preachSectionImages"
      [aos]="'fade-up-left'">
    </app-two-columns>

    <app-two-columns
      [title]="'Ir a las reuniones'"
      [text]="'Ir juntos a las reuniones contigo es algo que adoro. Sentir la unidad en nuestra fe y compartir momentos espirituales contigo es realmente especial. Ver cómo crecemos juntos en nuestra relación con Jehová y cómo nos apoyamos mutuamente es un regalo que valoro cada día. Te amo y estoy emocionado por seguir disfrutando de estas experiencias juntos.'"
      [images]="meetingSectionImages"
      [aos]="'fade-up-right'">
    </app-two-columns>

    <app-two-columns
      [title]="'Regalarte flores'"
      [text]="'Cuando te regalo flores y veo la alegría en tu rostro, mi corazón se llena de felicidad. Ver cómo las recibes con una sonrisa y cómo las cuidas con tanto cariño me hace sentir amado y valorado. Tu felicidad es mi mayor satisfacción, y saber que aprecias y cuidas los pequeños detalles que te regalo es un recordatorio constante del amor que compartimos. Te amo más de lo que las palabras pueden expresar.'"
      [images]="flowersSectionImages"
      [aos]="'fade-up-left'">
    </app-two-columns>

    <app-two-columns
      [title]="'Sostener tu mano'"
      [text]="'Cuando sostengo tu mano, mi amor, siento una conexión profunda y especial. Es un gesto que me llena de felicidad y gratitud por tenerte a mi lado. Tu mano suave y cálida en la mía me reconforta y me hace sentir protegido. Es como si un lazo invisible nos uniera, creando una complicidad única entre nosotros. Siento una oleada de emociones positivas, y sé que estoy aquí para apoyarte en todo momento. El contacto de nuestros dedos entrelazados crea una cercanía física que me llena de alegría. Nuestros latidos se sincronizan, generando una armonía única. Sostener tu mano me hace sentir seguro y protegido, y espero seguir compartiendo momentos inolvidables juntos.'"
      [images]="holdHandSectionImages"
      [aos]="'fade-up-right'">
    </app-two-columns>

    <app-two-columns
      [title]="'Salir a lo que sea'"
      [text]="'Cuando salimos juntos, ya sea a hacer compras, cenar o simplemente dar un paseo, siento una felicidad inmensa. Estar a tu lado en esos momentos especiales es una experiencia llena de alegría y conexión. Ver cómo compartimos risas, conversaciones y gestos de cariño crea recuerdos que atesoro en mi corazón. Cada salida juntos fortalece nuestra complicidad y me hace sentir agradecido por tenerte en mi vida. Estar contigo en cualquier ocasión es simplemente maravilloso.'"
      [images]="goOutSectionImages"
      [aos]="'fade-up-left'">
    </app-two-columns>


    <app-two-columns
      [title]="'Pasar tiempo juntos'"
      [text]="'Cuando pasamos tiempo juntos, ya sea en tu casa o a través de una videollamada, siento una felicidad indescriptible. El simple hecho de estar contigo, ya sea jugando, hablando o haciendo cualquier cosa, llena mi corazón de alegría. Nuestra conexión y complicidad se intensifican, creando momentos especiales que atesoro en mi memoria. Cada instante compartido es una oportunidad para fortalecer nuestro amor y disfrutar de nuestra compañía mutua. Estar contigo, sin importar lo que hagamos, es lo más valioso para mí.'"
      [images]="spendTimeSectionImages"
      [aos]="'fade-up-right'">
    </app-two-columns>

    <br>

    <div class="container">
      <article>
        <p style="text-align: left;">Mi amor, <span>Hoy quiero expresarte mi gratitud infinita por estar a mi lado. Me siento increíblemente afortunado de que me hayas elegido entre todos los demás, y cada día que pasa, mi amor por ti se fortalece aún más. Tu presencia en mi vida ha llenado cada rincón de mi ser de felicidad y amor, y no puedo evitar sonreír cada vez que te veo. Eres mi apoyo incondicional, mi compañera en todas las situaciones y la persona con la que quiero construir un futuro.

        <br><br> 

        Juntos hemos enfrentado desafíos y superado obstáculos, y eso solo ha reforzado nuestra relación. Estoy dispuesto a seguir afrontando cualquier cosa que la vida nos depare, porque sé que a tu lado puedo encontrar la fuerza y la determinación necesarias. Nuestro amor me impulsa a querer ser la mejor versión de mí mismo, y cada día asumo el compromiso de cuidar de ti, de protegerte y de amarte en todas las circunstancias. Quiero estar a tu lado por el resto de nuestras vidas, creando memorias hermosas, compartiendo risas y construyendo nuestros sueños juntos. Te amo con todo mi corazón, y no puedo esperar para ver qué nos depara el futuro.
        
        <br><br>

        Siempre tuyo,
        <br>
        <b>Elian G.</b></span></p>
      </article>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
  <svg
    id="clouds"
    xmlns="http://www.w3.org/2000/svg"
    width="2611.084"
    height="485.677"
    viewBox="0 0 2611.084 485.677"
  >
    <title>Gray Clouds Background</title>
    <path
      id="Path_39"
      data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)"
      fill="#a81cbb"
    />
  </svg>
</div>

<router-outlet></router-outlet>
